      header {
        background: rgb(219, 224, 224);
      }
        
    .caixa-nav{   
        position: relative;
        width: 940px;
        margin: 0 auto;
    }
    
    h1 {
        display: inline;
    }
    
    #logo {
        width: 250px;
    }
    
    nav {
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 110px;
    }
    
    nav li {
        display: inline;
        margin: 10px;
    }
    
    nav a {
        text-transform: uppercase;
        color: rgb(151, 165, 245);
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }

    .produtos {
        width: 1200px;
        margin: 0 auto;
    }

    .produtos li {
        display: inline-block;
    }

    .item {
        width: 350px;
        height: 260px;
    }