header{
    background-color: rgb(222, 222, 235);
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
}
nav li {
    display: inline;
    margin: 10px;
}