#livraria{
   width:25;
   height: 100px;
}

h1 {
   font-size: 33px;
   text-align: center;
   background: rgb(173, 204, 245);
}

p{
    text-align: center;
}

 strong {
    color: rgb(21, 71, 112);
 }