#livraria{
   width: 200mpx;
}

h1 {
   font-size: 33px;
   text-align: center;
   background: rgb(193, 216, 245);
}

p{
    text-align: center;
}

 strong {
    color: rgb(21, 71, 112);
 }
  .itens{
   font-style: italic;
  }